.header{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.header .logo-link {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
}

.header .logo-link .logo {
	padding: 8px 0;
}

.header .menu {
	display: block;
}
